# =========================
# .NET / Visual Studio
# =========================
bin/
obj/
.vs/
*.user
*.userosscache
*.sln.docstates

# Rider / VSCode
.vscode/
.idea/

# =========================
# Godot
# =========================

# Godot cache (IMPORTANT)
.godot/
.import/

# Godot export
export.cfg
export_presets.cfg

# Mono / C# build
.mono/
data_*/

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.temp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# Backup / auto save
# =========================
*.bak
*.swp
*~