-- Robust Seed Script (UTF-16)
USE VNEG_System;
GO

DELETE FROM dbo.questions;
DELETE FROM dbo.games;
DELETE FROM dbo.maps;

DBCC CHECKIDENT ('dbo.maps', RESEED, 0);
DBCC CHECKIDENT ('dbo.games', RESEED, 0);
DBCC CHECKIDENT ('dbo.questions', RESEED, 0);

IF NOT EXISTS (SELECT 1 FROM dbo.grades WHERE id = 1) INSERT INTO dbo.grades (id, name) VALUES (1, N'Lớp 1');
IF NOT EXISTS (SELECT 1 FROM dbo.grades WHERE id = 2) INSERT INTO dbo.grades (id, name) VALUES (2, N'Lớp 2');
IF NOT EXISTS (SELECT 1 FROM dbo.grades WHERE id = 3) INSERT INTO dbo.grades (id, name) VALUES (3, N'Lớp 3');

INSERT INTO dbo.maps (grade_id, name, order_index, is_active) VALUES (1, N'Sơ Cấp', 1, 1);
INSERT INTO dbo.maps (grade_id, name, order_index, is_active) VALUES (2, N'Trung Cấp', 2, 1);
INSERT INTO dbo.maps (grade_id, name, order_index, is_active) VALUES (3, N'Cao Cấp', 3, 1);

DECLARE @MapSoCap INT = (SELECT MIN(id) FROM dbo.maps WHERE name = N'Sơ Cấp');
DECLARE @MapTrungCap INT = (SELECT MIN(id) FROM dbo.maps WHERE name = N'Trung Cấp');
DECLARE @MapCaoCap INT = (SELECT MIN(id) FROM dbo.maps WHERE name = N'Cao Cấp');

-- Sơ Cấp Games
INSERT INTO dbo.games (map_id, name, game_type, flow, order_index) VALUES (@MapSoCap, N'Ngữ Pháp', 'multiple_choice', 'linear', 1);
INSERT INTO dbo.games (map_id, name, game_type, flow, order_index) VALUES (@MapSoCap, N'Chính Tả', 'fill_blank', 'linear', 2);
INSERT INTO dbo.games (map_id, name, game_type, flow, order_index) VALUES (@MapSoCap, N'Nhìn Tranh', 'picture_guess', 'linear', 3);

-- Get Game IDs for Sơ Cấp
DECLARE @G_NP INT = (SELECT id FROM games WHERE map_id = @MapSoCap AND name = N'Ngữ Pháp');
DECLARE @G_CT INT = (SELECT id FROM games WHERE map_id = @MapSoCap AND name = N'Chính Tả');
DECLARE @G_NT INT = (SELECT id FROM games WHERE map_id = @MapSoCap AND name = N'Nhìn Tranh');
DECLARE @G_VM INT = (SELECT id FROM games WHERE map_id = @MapSoCap AND name = N'Vùng Miền');
DECLARE @G_XC INT = (SELECT id FROM games WHERE map_id = @MapSoCap AND name = N'Xếp Câu');
DECLARE @G_OT INT = (SELECT id FROM games WHERE map_id = @MapSoCap AND name = N'Ôn Tập');

-- Questions for Sơ Cấp - Ngữ Pháp
INSERT INTO dbo.questions (game_id, question_type, difficulty, data, answer) VALUES (@G_NP, 'multiple_choice', 1, '["Đang", "Đã", "Sẽ"]', N'Đang');
INSERT INTO dbo.questions (game_id, question_type, difficulty, data, answer) VALUES (@G_NP, 'multiple_choice', 1, '["Và", "Nhưng", "Hoặc"]', N'Và');
INSERT INTO dbo.questions (game_id, question_type, difficulty, data, answer) VALUES (@G_NP, 'multiple_choice', 1, '["Tôi", "Bạn", "Nó"]', N'Tôi');

-- Questions for Sơ Cấp - Chính Tả

-- Questions for Sơ Cấp - Nhìn Tranh

-- Questions for Sơ Cấp - Vùng Miền

-- Questions for Sơ Cấp - Xếp Câu

-- Questions for Sơ Cấp - Ôn Tập

-- Trung Cấp Games (Simpler just to verify)
DECLARE @G_TC_NP INT = (SELECT id FROM games WHERE map_id = @MapTrungCap AND name = N'Ngữ Pháp');

-- Cao Cấp Games
DECLARE @G_CC_NP INT = (SELECT id FROM games WHERE map_id = @MapCaoCap AND name = N'Ngữ Pháp');

PRINT 'Robust seeding (UTF-16) completed.';
